@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-50;
}

::selection {
  background: rgba(34, 211, 238, 0.35);
}
